/* Mobile */
#jumbotron{
    display: none;
}

#cards{
    display: grid;
    gap: 15px;
    margin-top: 25px;
}

#cards > div {
    height: 300px;
    border: 1px solid black;
}

/* Desktop */
@media only screen and (min-width: 1200px) {
    #jumbotron{
        height: 250px;
        background-color: gray;
        color: white;
        display: block;
    }

    #cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 50px;
    }
}