#program{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 100px;
    gap: 10px;
}

#program > #card{
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px 15px;
}

#program > .card{
    border: '1px solid black'
}